@use '../App.scss' as v;

.skill {
    border-radius: 6px !important;
    overflow: hidden;
    .skill-img {
        border-radius: 6px;
    }
    position: relative;
    border-radius: 6px;
    &:hover .skill-title-layer {
        transition: 0.2s;
        visibility: visible;
        opacity: 1;
    }
    .skill-title-layer {
        transition: 0.2s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
    }
}