@use '../../_variables.scss' as v;

nav.navigation {
    // border-bottom: 1px solid #f6f6f6;
    min-width: 100%;
    background-color: v.$bg;
    position: relative;
    // top: 0;
    z-index: 10;
    ul.navigation-wrapper {
        margin: 0;
        display: flex;
        gap: 2rem;
        padding: 0.75rem;
        justify-content: center;
        li {
            list-style-type: none;
        }
    }
}
