@use '../../_variables.scss' as v;

@media (prefers-color-scheme: light) {
    .footer {
        background: v.$bg;
        p {
            color: v.$text-secondary;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
        background: #2d2d2d;
        p {
            color: v.$text-secondary-dark;
        }
    }
}

.footer {
    margin: 0 auto;
    .footer-wrapper {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1400px) {
            margin: 0 2rem;
        }
        @media (max-width: 600px) {
            margin: 0 1.5rem;
        }
        .icon-wrapper {
            display: flex;
            gap: 1rem;
            padding-bottom: 1rem;
            .icon {
                width: 28px;
                height: auto;
                transition: all 0.1s ease;
                &:hover {
                    color: v.$periwinkle;
                }
            }
        }
        a.inline {
            font-weight: 600;
        }
    }
}
