@use '../../_variables.scss' as v;

.footer {
    max-width: 1400px;
    margin: 0 auto;
    background: v.$bg;
    .footer-wrapper {
        padding: 1rem 0;
        @media (max-width: 1400px) {
            margin: 0 2rem;
        }
        @media (max-width: 600px) {
            margin: 0 1.5rem;
        }
        .icon-wrapper {
            display: flex;
            gap: 1rem;
            padding-bottom: 1rem;
            .icon {
                width: 28px;
                height: auto;
            }
        }
        p {
            color: #676767;
        }
        a.inline {
            font-weight: 600;
        }
    }
}
