@use '../../_variables.scss' as v;

@media (prefers-color-scheme: dark) {
    section.experience {
        .exp-card {
            border: 1px solid #424242;
            background: v.$black;
            color: v.$white;
            &:hover {
                background: linear-gradient(145deg, v.$black, v.$black);
                box-shadow:
                    5px 5px 10px #151515,
                    -5px -5px 10px v.$black;
            }
            .date {
                color: #bebebe;
            }
            .info .tags .tag {
                background-color: rgba(44, 117, 120, 0.5);
                color: #c2fcff;
            }
        }
    }
}

section.experience {
    .exp-card {
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: 8px;
        display: flex;
        gap: 2rem;
        background-clip: unset;
        -webkit-text-fill-color: unset;
        transition: 0.1s ease-in;
        box-shadow: none;
        @media (max-width: 800px) {
            flex-direction: column;
            gap: 0.5rem;
        }
        &:hover {
            h3 {
                color: v.$teal;
            }
            .info .icon {
                color: v.$teal;
                transform: translate(0.25rem, 0);
                -webkit-transform: translate(0.25rem, 0);
                -moz-transform: translate(0.25rem, 0);
                -o-transform: translate(0.25rem, 0);
                -ms-transform: translate(0.25rem, 0);
            }
        }
        .info .icon {
            @media (max-width: 1000px) {
                display: none;
            }
        }
        .date {
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            min-width: 130px;
            width: 130px;
        }
        .info {
            .info-text {
                font-weight: 400;
                margin: 0.5rem 0;
            }
            h3 {
                line-height: 1.2;
                display: flex;
                align-items: center;
                gap: 0.4rem;
                transition: 0.1s ease-in;
                .icon {
                    transition: 0.1s ease-in;
                    width: 14px;
                    height: 14px;
                }
            }
            ul {
                margin: 0.25rem 0 0 0;
                padding-left: 1.5rem;
                list-style-type: '–  ';
                li {
                    font-weight: 400;
                }
            }
            .tags {
                display: flex;
                gap: 0.5rem;
                flex-wrap: wrap;
                .tag {
                    font-size: 12px;
                    padding: 0.15rem 0.4rem;
                    border-radius: 100px;
                }
            }
        }
    }
    .exp-wrapper {
        a.resume {
            margin-bottom: 1rem;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            width: fit-content;
            transition: 0.1s ease-in;
            &:hover .icon {
                color: v.$teal;
                transform: translate(0.25rem, 0);
                -webkit-transform: translate(0.25rem, 0);
                -moz-transform: translate(0.25rem, 0);
                -o-transform: translate(0.25rem, 0);
                -ms-transform: translate(0.25rem, 0);
            }
            .icon {
                width: 14px;
                height: 14px;
                transition: 0.1s ease-in;
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    section.experience {
        background: v.$white;
        .exp-card {
            border: 1px solid #efefef;
            background: v.$white;
            &:hover {
                background: linear-gradient(145deg, #ffffff, #ffffff);
                box-shadow:
                    5px 5px 10px #f2f2f2,
                    -5px -5px 10px #ffffff;
            }
            .date {
                color: v.$text-secondary;
            }
            .info .tags .tag {
                background-color: rgb(218, 241, 246, 50%);
                color: #4ba2a7;
            }
        }
    }
}
