$red: #FF605C;
$orange: #FFBD44;
$green: #00CA4E;
$ibm-blue: #0f62fe;
$light-gray: #f0f0f0;
$gray: #d4d4d4;
$white: #fff;

// Custom Bootstrap component colors
$box-shadow: rgb(151, 191, 194, 0.4);
$bg-color: rgb(184, 215, 217, 0.5);
$text-color: #0e4b4f;
$link-color: #25949c;

.window {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid $gray;
    background-color: $white;
    padding-bottom: 0.75rem;
    // height: 100%;
    .action-container {
        background-color: $light-gray;
        height: 36px;
        border-bottom: 1px solid $gray;
        padding: 0 0.5rem;
        margin-bottom: 0.75rem;
        .action-btns {
            padding: 0 0.5rem;
            .circle {
                align-self: center;
                border-radius: 50px;
                height: 12px;
                width: 12px;
                padding: 0;
                margin: 0 0.15rem;
                &:hover {
                    cursor: pointer;
                }
                &.close {
                    background-color: $red;
                }
                &.minimize {
                    background-color: $orange;
                }
                &.open {
                    background-color: $green;
                }
            }
        }
    }
    .img-container {
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid #b8d7d9;
    }
}

.invis {
    &.window {
        padding-bottom: 0;
    }
    .action-container {
       margin-bottom: 0;
       border-bottom: 1px solid transparent;
   }
}

.btn.btn-link {
    color: $link-color;
    &:hover {
        color: $text-color;
    }
}