@use './_variables.scss' as v;

:root {
    margin: 0 auto;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    background: v.$white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// links
a {
    font-weight: 500;
    color: v.$black;
    text-decoration: inherit;
    background-image: linear-gradient(45deg, v.$black, v.$black 33.33333%, v.$periwinkle 66.66666%, v.$teal);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 100%;
    background-position: top left;
    transition: all 0.1s ease;
    &:hover {
        background-position: top left 100%;
    }
    &.inline {
        font-weight: 800;
        border-bottom: 2px solid v.$periwinkle;
        position: relative;
        color: v.$teal;
        transition: all 0.1s ease;
    }
}

// buttons
button {
    border-radius: 4px;
    background: v.$black;
    color: v.$white;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    transition: background-color 0.1s ease;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus,
    &:focus-visible {
        background: #6d6d6d;
    }
}

// headers
h1 {
    font-size: 6rem;
    line-height: 1.1;
    @media (max-width: 1200px) {
        font-size: 5rem;
    }
    @media (max-width: 1000px) {
        font-size: 3.5rem;
    }
    @media (max-width: 500px) {
        font-size: 2.75rem;
    }
}

h2 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    background: -webkit-linear-gradient(45deg, v.$periwinkle, v.$teal 10%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

h3 {
    margin: 0;
    font-size: 1.1rem;
}

h4 {
    margin: 0.25rem 0 0 0;
    font-weight: 400;
    font-size: 0.9rem;
}

p {
    margin-top: 0;
    font-size: 15px;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: v.$black;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: v.$white;
        background-color: v.$black;
        h1,
        h2,
        h3,
        h4,
        p {
            color: v.$white;
        }
        h4 {
            color: v.$text-secondary-dark;
        }
    }
    a {
        color: v.$white;
        background-image: linear-gradient(45deg, v.$white, v.$white 33.33333%, v.$periwinkle 66.66666%, v.$teal);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: v.$black;
        background-color: v.$white;
        h1,
        h2,
        h3,
        p {
            color: v.$black;
        }
        h4 {
            color: v.$text-secondary;
        }
    }
}
