
html {
    scroll-behavior: smooth;
}

.navbar {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.navbar-brand {
    color: #7070AE !important;
    padding-top: 2px;
    font-family: 'Unna', sans-serif;
    font-size: 26px;
}

.navbar-brand:hover {
    color: #484886 !important;
    transition: all 0.2s ease-out;
    padding-top: 2px;
}

.nav-link {
    font-size: 14px;
    height: 38px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #7070AE;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}

#linkedin::after {
    transition: none;
    background: none;
}

.jumbotron {
    background-color: #D6D6FF;
}

.jumbotron > div > h1 {
    font-family: 'Unna', sans-serif;
    letter-spacing: 2px;
}

.lead {
    font-family: 'Lato', serif;
}

.project-header {
    font-family: 'Unna', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 42px;
}

.projects {
    font-family: 'Lato', serif;
}

.projects > div {
    padding: 0;
    margin: 1rem 0;
}

.project, .project > img {
    height: 350px;
    width: 350px;
    position: relative;
    display: inline-block;
}

.project:hover .project-title {
    opacity: 1;
}

.project img {
    padding: 0;
    width: 100%;
    display: block;
    opacity: 1;
}

.project:hover img {
    filter: brightness(30%);
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project img,
.project-title {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.project-title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 80%;
    text-align: center;
    opacity: 0;
}
