.header {
    background-image: url("/src/jumbotron.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 25vh;
}

.img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.img > img {
    box-shadow: -10px -10px 0 0 #ECB4D0;
}

.belfast {
    width: 90%;
    height: auto;
}

.image-caption {
    display: block;
    padding-bottom: 2rem;
}
