.header-ibm {
    background-color: #000;
    height: 25vh;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
}

.logo {
    height: 60px;
}

.slap-pages {
    margin-left: 1.5rem;
}

.img-container {
    position: relative;
}

img.screenshot {
    transition: 0.2s;
    height: 200px;
    width: 100%;
    height: auto;
}

img.screenshot:hover {
    -webkit-filter: brightness(40%);
	-moz-filter: brightness(40%);
	-o-filter: brightness(40%);
	-ms-filter: brightness(40%);
	filter: brightness(40%);
    transition: 0.2s;
}

.img-modal {
    width: 75vw;
    max-width: 75vw;
    min-width: 75vw;
}